.worked-with-page-header {
  padding: 24px 0;
  border-bottom: 1px solid rgba(13, 12, 11, 0.08);
}

.worked-with-page-footer {
  padding-bottom: 120px;
}

@media screen and (max-width: 576px) {
  .worked-with-page-footer {
    padding-bottom: 80px;
  }
}
