<header class="worked-with-page-header">
    <div class="container d-flex align-items-center justify-content-between">
        <a routerLink="/">
            <img class="w-75" style="width:12rem" src="./assets/images/logo/SVG/Logo_aziz-v2_2.svg"
                alt="abdulaziz-logo">
        </a>
        <a routerLink="/" class="btn-border-border">&larr; Back to Home</a>
    </div>
</header>

<app-proudly-worked-with></app-proudly-worked-with>

<div class="worked-with-page-footer text-center">
    <a routerLink="/" class="btn-rounded-lg">
        <span>Back to Home</span>
    </a>
</div>
